<section *ngIf="!startedComp">
  <div class="d-flex">
    <div class="panel">
      <div class="state"><br><br>
        <h1>Escolha o vetor</h1>
      </div>

      <div [ngClass]="{'selected': arrayType.big }" (click)="genereteArray('big')" class="btn green">Vetor
        aleatorio grande</div>
      <br>
      <div [ngClass]="{'selected': arrayType.small }" (click)="genereteArray('small')" class="btn blue">Vetor
        aleatorio pequeno</div>
      <br>
      <br>
      <span>OU</span>
      <br>
      <br>
      <br>
      <span style="font-size: 20px;">
        digite o seu proprio vetor
        <small style="font-size: 14px">(Separado por virgula)</small>
      </span>
      <br>
      <br>
      <form [formGroup]="form">
        <input formControlName="array" placeholder='Digite' type="text">

      </form>
    </div>

    <!-- metodos -->
    <div class="panel">
      <div class="state" style="height: auto; margin-bottom: 40px"><br><br>
        <h1>Escolha os metodos</h1>
      </div>
      <br>
      <div class="buttons" class="d-flex">
        <a [ngClass]="{'selected': sorts.selection }" (click)="selectSort('selection')" class="btn blue">SelectionSort</a>
        <a [ngClass]="{'selected': sorts.insertion }" (click)="selectSort('insertion')" class="btn orange">InsertionSort</a>
      </div>

      <div class="buttons" class="d-flex">
        <a [ngClass]="{'selected': sorts.bubble }" (click)="selectSort('bubble')" class="btn red">BubbleSort </a>
        <a [ngClass]="{'selected': sorts.shell }" (click)="selectSort('shell')" class="btn purple">ShellSort </a>
      </div>
      <div class="buttons" class="d-flex">
        <a [ngClass]="{'selected': sorts.merge }" (click)="selectSort('merge')" class="btn green">MergeSort </a>
        <a [ngClass]="{'selected': sorts.quick }" (click)="selectSort('quick')" class="btn yellow">QuickSort </a>
      </div>
      <div class="buttons" class="d-flex">
        <a style="width: 100%" [ngClass]="{'selected': sorts.tim }" (click)="selectSort('tim')" class="btn orange">TimSort
        </a>
      </div>

    </div>

    <!-- comparacao -->
    <div class="panel">
      <div class="state"><br><br>
        <h1>Escolha a comparacao</h1>
      </div>
      <br>
      <br>
      <br>
      <div [ngClass]="{'selected': compType.key }" (click)="choiseComp('key')" class="btn blue">Comparacao por chave</div>
      <br>
      <div [ngClass]="{'selected': compType.numberChange }" (click)="choiseComp('numberChange')" class="btn orange">Comparacao
        por numero de trocas</div>
    </div>
  </div>

  <div class="d-flex jutify-content-center">
    <a (click)="startComp(arrayType, compType, sorts); startedComp = !startedComp;" class="btn green d-flex jutify-content-center aling-items-center"
      style="width: 40%; height: 40px;">INICIAR COMPARACAO</a>
  </div>

</section>

<!-- show chart -->
<section *ngIf="startedComp">
  <h1 *ngIf="compType.key" style="color: #1d3244">COMPARACAO POR CHAVE</h1>
  <h1 *ngIf="compType.numberChange" style="color: #1d3244">COMPARACAO POR NUMERO DE TROCAS</h1>
  <br>
  <app-chart [chartData]="chartData" [colors]="colors" [labels]="labels"></app-chart>

  <div class="d-flex jutify-content-center">
    <a (click)="resetAll(); startedComp = !startedComp" class="btn green d-flex jutify-content-center aling-items-center"
      style="width: 40%; height: 40px;">VOLTAR COMPARACAO</a>
  </div>
</section>